.table-row {
  display: flex ;
  align-items: center;
  border-bottom: 2px solid gray;
}

.table-cell{
  flex: 1;
  padding: 8px;
}

.table-header{
  font-weight: bold;
  padding: 8px;
  background-color: rgb(202, 202, 202);
}